{{define "title"}}Insert or Update a User{{end}}

{{define "main"}}
{{with .UserAddPage}}
<div class="content">
    <h2> Insert or Update a User </h2>
    <form action='/users/add' method='POST'>
        <div>
            <label>Handle</label>
            {{with .Form.FieldErrors.handle}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="handle" value="">
            <br>
            <label>School</label>
            {{with .Form.FieldErrors.school}}
                <label class="error">{{.}}</label>
            {{end}}
            <select name="school" id="school">
                {{range .Schools}}
                <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
            <br>
            <label>Start Date</label>
            {{with .Form.FieldErrors.startDate}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="date" name="start-date" value="">
            <br>
            <label>Cohort</label>
            {{with .Form.FieldErrors.cohort}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="cohort" value="">
            <br>
        </div>
        <div>
            <label>Options:</label>
            <input type="checkbox" name="follows" value="true" {{if .Form.Follows}} checked {{end}}>Scrape Follows and Followers<br>
            <input type="checkbox" name="content" value="true" {{if .Form.Content}} checked {{end}}>Scrape Content<br>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{{end}}
{{end}}