{{define "title"}}{{.UserViewPage.CurrentUser.ProfileName}}'s Profile{{end}}

{{define "main"}}
{{with .UserViewPage}}

<h1>{{.CurrentUser.ProfileName}}'s Profile</h1>
<form action="/users/add" method="POST">
    <div>
        <label>Handle</label>
        <input type="text" name="handle" value="{{.CurrentUser.Handle}}">
        <br>
        <label>School</label>
        <select name="school" id="school">
            {{range $School := .Schools}}
            <option value="{{$School.Name}}">{{$School.Name}}</option>
            {{end}}
        </select>
        <br>
        <label>Start Date</label>
        <input type="date" name="startDate" value="{{.CurrentUser.CollectedAt}}">
        <br>
    </div>
    <div>
        <label>Options:</label>
        <input type="checkbox" name="follows" value="true">Scrape Follows and Followers<br>
        <input type="checkbox" name="content" value="true">Scrape Content<br>
    </div>
    <div>
        <input type="submit" value="Update">
    </div>



{{end}}
{{end}}